{% extends 'base.html' %}
{% block content %} 
<style>
  body {
      background-image: url(/static/img/bg.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh; /* Ensure the body takes up the full height of the viewport */
  }
      
</style>

{% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                $.notify("{{ message }}", "success"); 
            {% endfor %}
        });
    </script>
{% endif %}

  {%if user.userType == "guide" %}
  <div class="flex flex-row flec-wrap">
    <button class=" p-2 flex-1 hover:bg-blue-300 " onclick="showPending()">
      Pending
    </button>
    <button class="p-2 flex-1 hover:bg-blue-300 " onclick="showAccepted()">
      Accepted
    </button>
    <button class="p-2 flex-1 hover:bg-blue-300 " onclick="showCompleted()">
      Complete
    </button>    
    <button class=" p-2 flex-1 hover:bg-blue-300 " onclick="showRejected()">
      Rejected
    </button>
  </div>

  <div id="pending" class="block">
    <div class="flex flex-row  p-4 mb-4">
      {% for book in booking %}
      <div class="flex flex-col text-white rounded-md m-4 p-6">
        {% if book.status == "pending" %}
        <div class="flex flex-col bg-gray-800 w-full rounded-md m-8 p-10 justify-content">
          <div class="mb-2">
            <span class="font-bold inline-block">Username:</span>
            <p class="inline-block">{{ book.user.username }}</p>
          </div>
          <div class="mb-2">
            <span class="font-bold inline-block">Location:</span>
            <p class="inline-block">{{ book.location }}</p>
          </div>
          <div class="mb-2">
            <span class="font-bold inline-block">Date:</span>
            <p class="inline-block">{{ book.date }}</p>
          </div>
          <div class="mb-2">
            <span class="font-bold inline-block">Hours:</span>
            <p class="inline-block">{{ book.hrs }}</p>
          </div>
          <div class="mb-2">
            <span class="font-bold inline-block">Status:</span>
            <p class="inline-block">{{ book.status }}</p>
          </div>
          <button class="bg-blue-900 w-full text-white p-2 mt-2 rounded-md">
            <a href="/accept_booking/{{ book.booking_id }}">Accept</a>
          </button>
          <button class="bg-red-500 text-white p-2 mt-2 rounded-md">
            <a href="/reject_booking/{{ book.booking_id}}">Reject</a>
          </button>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="accepted" class="hidden">
    <div class="flex flex-row p-4 mb-4">
      {% comment %} <p>Accepted</p> {% endcomment %}
      {% for book in booking %}
        <div class="flex flex-col text-white rounded-md m-4 p-6">
          {% if book.status == "accepted" %}
          <div class="flex flex-col bg-gray-800 rounded-md m-4 p-6">
            <div class="mb-2">
              <span class="font-bold inline-block">Username:</span>
              <p class="inline-block">{{ book.user.username }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Location:</span>
              <p class="inline-block">{{ book.location }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Date:</span>
              <p class="inline-block">{{ book.date }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Hours:</span>
              <p class="inline-block">{{ book.hrs }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Status:</span>
              <p class="inline-block">{{ book.status }}</p>
            </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="rejected" class="hidden">
    <div class="flex flex-row p-4 mb-4">
      {% comment %} <p>Accepted</p> {% endcomment %}
      {% for book in booking %}
        <div class="flex flex-col text-white rounded-md m-4 p-6">
          {% if book.status == "rejected" %}
          <div class="flex flex-col bg-gray-800 rounded-md m-4 p-6">
            <div class="mb-2">
              <span class="font-bold inline-block">Username:</span>
              <p class="inline-block">{{ book.user.username }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Location:</span>
              <p class="inline-block">{{ book.location }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Date:</span>
              <p class="inline-block">{{ book.date }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Hours:</span>
              <p class="inline-block">{{ book.hrs }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Status:</span>
              <p class="inline-block">{{ book.status }}</p>
            </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="completed" class="hidden">
    <div class="flex flex-row p-4 mb-4">
      {% comment %} <p>Accepted</p> {% endcomment %}
      {% for book in booking %}
        <div class="flex flex-col text-white rounded-md m-4 p-6">
          {% if book.status == "completed" %}
          <div class="flex flex-col bg-gray-800 rounded-md m-4 p-6">
            <div class="mb-2">
              <span class="font-bold inline-block">Username:</span>
              <p class="inline-block">{{ book.user.username }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Location:</span>
              <p class="inline-block">{{ book.location }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Date:</span>
              <p class="inline-block">{{ book.date }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Hours:</span>
              <p class="inline-block">{{ book.hrs }}</p>
            </div>
            <div class="mb-2">
              <span class="font-bold inline-block">Status:</span>
              <p class="inline-block">{{ book.status }}</p>
            </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  
  {%else%}
    <div class="flex flex-row justify-around flex-wrap">
      {% for guide in guides %}
        <div class="max-w-xs p-6 bg-gray-800 text-white rounded-md shadow-md mb-8">
          <img src="https://source.unsplash.com/random/300x300/?1" alt="" class="object-cover object-center w-full rounded-md h-72  mb-4"/>
          <div>
            <p class="text-lg inline-block font-semibold">
              Guide Name: {{ guide.guide_user.username }}
            <p class="text-lg inline-block font-semibold">
              Locations : {{ guide.location}}                  
            </p>
            <p class="text-lg inline-block font-semibold">
              Hour_rate : {{ guide.hourly_rate }}
            </p>
            <p class="text-lg inline-block font-semibold">
              Languages : {{ guide.expertise }}
            </p>
            <button class="w-full p-2 mt-2">
              <a href="/book_guide/{{ guide.id }}" class="bg-blue-300 w-full p-2">Hire A Guide</a>
            </button>
          </div>
        </div>
      {% endfor %}
    </div>
      
    {% endif %} 
    <script>
      function showPending() {
        console.log("Pending");
        document.getElementById("pending").classList.remove("hidden");
        document.getElementById("accepted").classList.add("hidden");
        document.getElementById("completed").classList.add("hidden");
        document.getElementById("rejected").classList.add("hidden");
      }

      function showAccepted() {
        document.getElementById("pending").classList.add("hidden");
        document.getElementById("accepted").classList.remove("hidden");
        document.getElementById("completed").classList.add("hidden");
        document.getElementById("rejected").classList.add("hidden");
      }

      function showCompleted() {
        document.getElementById("pending").classList.add("hidden");
        document.getElementById("accepted").classList.add("hidden");
        document.getElementById("completed").classList.remove("hidden");
        document.getElementById("rejected").classList.add("hidden");
      }

      function showRejected() {
        document.getElementById("pending").classList.add("hidden");
        document.getElementById("accepted").classList.add("hidden");
        document.getElementById("completed").classList.add("hidden");
        document.getElementById("rejected").classList.remove("hidden");
      }
    </script>

    {% endblock %}
  </div>
</div>
