{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-image: url('https://cdn.dribbble.com/users/3893315/screenshots/15837983/media/b339f404681fd7e05ce9225d1ae8cb07.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Ensure the body takes up the full height of the viewport */
    }
</style>
    {% if user.userType == "user" %}

        <div class="flex flex-row justify-content ">
            <div class="max-w-xs p-6 rounded-md shadow-md text-white-50 bg-teal-800">
                <img src="https://source.unsplash.com/random/300x300/?1" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
                <div class="mt-6 mb-2">
                    {% for guide in guides %}
                        <p>{{ guide.guide_user.username }} - {{ guide.location}}</p>
                    {% endfor %}
                    <span class="block text-xs font-medium tracking-widest uppercase">Quisque</span>
                    <h2 class="text-xl font-semibold text-white tracking-wide">Nam maximus purus</h2>
                </div>
                <p class="dark:text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut lacinia dui.</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
