{% extends 'base.html' %}
{% if messages %}
    <ul id="messages" class="bg-red-100 p-4 rounded-lg messages">
        {% for message in messages %}
            <li class="text-red-500">{{ message }}</li>
        {% endfor %}
    </ul>   
{% endif %}
{% block content %}

  <div class="flex items-center justify-center min-h-screen bg-gray-50 dark:bg-gray-900">
    <form method="post" class="w-full max-w-md p-8 bg-white rounded-lg shadow-md dark:border dark:bg-gray-800 dark:border-gray-700 space-y-4 md:space-y-6">

      {% csrf_token %}
      
      <div class="mb-4">
        <label for="{{ form.username.id_for_label }}" class="inline-block  text-sm font-medium text-gray-900 md:text-lg dark:text-white">Username:</label>
        {{ form.username }}
      </div>

      <div class="mb-4">
        <label for="{{ form.email.id_for_label }}" class="inline-block text-sm font-medium text-gray-900 md:text-lg dark:text-white">Email:</label>
        {{ form.email }}
      </div>

      <div class="mb-4">
        <label for="{{ form.userType.id_for_label }}" class="inline-block text-sm font-medium text-gray-900 md:text-lg dark:text-white">User Type:</label>
        <select id="{{ form.userType.id_for_label }}" name="{{ form.userType.name }}" class="form-select">
          {% for option in form.userType.field.choices %}
            <option id="usertype" value="{{ option.0 }}" {% if option.0 == form.userType.value %}selected{% endif %}>
              {{ option.1 }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-4">
        <label for="{{ form.password1.id_for_label }}" class="inline-block text-sm font-medium text-gray-900 md:text-lg dark:text-white">Password:</label>
        {{ form.password1 }}
      </div>
    
      <div class="mb-4">
        <label for="confirm_password" class="inline-block text-sm font-medium text-gray-900 md:text-lg dark:text-white">Confirm Password:</label>
        {{ form.password2 }}
      </div>

      <div class="mb-4">
        <label for="{{ form.phone_number.id_for_label }}" class="inline-block text-sm font-medium text-gray-900 md:text-lg dark:text-white">Phone Number:</label>
        {{ form.phone_number }}
      </div>

      <button type="submit" class="w-full text-white bg-blue-700 md:text-lg bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>

      <p class="mt-4 text-sm font-light text-gray-500 md:text-lg dark:text-white">
        Already have an account? <a href="/user_login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
      </p>
    </form>
  </div>

  <style>
    .messages {
        animation: fadeOut 2s ease-in-out forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            height: 0;
            padding: 0;
            margin: 0;
        }
    }

    .none {
      display: none;
    }
</style>

  <script>
    setTimeout(function() {
        var messagesElement = document.getElementById('messages');
        if (messagesElement) {
            messagesElement.style.animation = 'none';  
            messagesElement.style.display = 'none';
        }
    }, 2000);
</script>
{% endblock %}
